html, body, #content, #map {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Lobster', cursive;
	font-size: 4em;
	text-rendering: optimizeLegibility;
	background-color: #000000;
	color: #ffffff;
	text-shadow: -1px -1px #CDCDCD, 2px 2px #000000, 3px 3px #FFFFFF;
	position: relative;
	z-index: 0;
}
#content, #map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 8em;
}
#map {
	z-index: 1;
}
#content {
	z-index: 2;
}
#content h1 {
	margin: 0.2em;
	padding: 0;
}