/* Utils */

	/* Responsive images */
	img { max-width: 100%; }

/* Main Layout */

	#article {
		width: 62%;
		float: left;
		margin-right: 2%;
	}
		
	#aside {
		width: 33%;
		float: right;
		margin-bottom: 3%;
	}
	
/* Modules */
	
	.feature { 
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}

/* Type */
	
	#header  h1 { 
		font-size: 6em;
		line-height: 0;
	}
	
/* Colour + Texture */

	/* 	http://www.colourlovers.com/fashion/trends/street-fashion/7888/Color_Blocking
		pink = DD577A, beige = FFF0CF, orange = FE5A27, blue = 49AEC0, black = 131723 */
	body { 
		background-color: #49AEC0; 
		color: #131723;
	}
	
	/* http://mothereffingtextshadow.com/ */
	#header { text-shadow: hsl(0,0%,100%) -1px 1px, hsl(0,0%,100%) -2px 2px, hsl(0,0%,100%) -3px 3px, hsl(0,0%,100%) -4px 4px; }

	#article { background-color: #cecece; }
	
	/* <= 1000px */
	@media all and (max-width: 1000px) {
	}
	
	#aside { background-color: #efefef; }