/* Config */

$grid-segments: 9;
$gutter: 5%;

$primary-color: #2a2a2a;
$secondary-color: #888888;
$background-color: #ededed;

/* Bring in external tools */

@import "compass/css3/transition";

/* 	
	Small Screen 

	The tactic here is:
	- Single column
	- Fluid width
	- Everything should be accessible to old IE
*/
	
	html { 
		margin: 0; 
		padding: 0; 
		width: 100%; 
	} 
	
	body {
		background: $background-color;
		font: normal 100%/1.4 Georgia, 'Times New Roman', serif;
		color: $primary-color;
		padding: 0;
		margin-top: $gutter;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.25;
		margin-bottom: 1.4em;
		font-weight: normal;
	}

	h1 {
		margin: 3em 0 0.5em 0;
		line-height: 1.125em;
		font-size: 1.8em;
		text-align: center;
	}

	h2 {
		line-height: 1.2em;
		margin-top: 1.4em;
		margin-bottom: 0.7em;
		font-size: 1.6em;
	}

	p, ol, ul, blockquote {
		line-height: 1.5;
		margin: 0 0 1.5em 0;
	}
	
	p {
		text-align: justify;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-o-hyphens: auto;
		hyphens: auto;
	}
	
	.date, .copyright {
		text-align: center;
		color: $secondary-color;
	}

	.copyright {
		margin-top: 6em;
		font-size: 0.8em;
	}

	.date + p, h1 + p { margin-top: 4em; } 
	h1 + .date { margin-top: 1.5em; } 
	
	.site-header, .site-nav, .site-footer, .article {
		margin-left: $gutter;
		margin-right: $gutter;
	}

	.site-header {
		text-align: center;
		margin-bottom: $gutter;
	}

	/* Simple header text (including some bits we need to position the logo) */
	.site-header a {
		display: inline-block;
		margin: 0;
		padding: 0;
		font-family: 'BebasNeueRegular';
		font-size: 2em;
		font-weight: normal;
		font-style: normal;
		letter-spacing: -0.02em;
		line-height: 1em;
		text-align: left;
		color: $primary-color;
    	text-decoration: none;
	}
	
	/* Insert the logo in such a way that it scales with the size of the header text.
		This will not cause any harm to browsers that don't support ::before */
	.site-header a::before {
		content: "";
		display: block;
		padding-top: 100%; /* 1:1 */
		background-image: inline-image("panda-optimised.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
	}
	
	/* Simple default nav style */
	.site-nav {
		margin-bottom: $gutter;
		font-family: 'BebasNeueRegular';
	}
	.site-nav a {
		display: block;
		text-align: center;
		text-decoration: none;
		color: lighten($primary-color, 90);
		background-color: $primary-color;
		padding: 0.5em 0;
		@include transition(background-color 0.1s ease-in-out);
	}
	.site-nav a:focus,
	.site-nav a:hover {
		background-color: lighten($primary-color, 10);
	}
	.site-nav a:active {
		background: red;
		background-color: lighten($primary-color, 20);
	}

/* 	Start enriching things with media queries. 
	Using http://trentwalton.com/ as a text-size guide here.
	Modified to stick to a 12.5% for every 12.5em rhythm */

	@media screen and (min-width: 25em) {
	
		/* 	Move the nav items inline 
			Clearfix from HTML5BP: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css */
		.site-nav a {
			float: left;
			width: 33.33333%;
		}
		.site-nav:before, .site-nav:after {
			content: " ";
			display: table;
		}
		.site-nav:after {
			clear: both;
		}
	
	}

	@media screen and (min-width: 37.5em) {
		
		body {
			font-size: 112.5%;
		}
		
	}

	@media screen and (min-width: 50em) {
		
		body {
			font-size: 125%;
		}
	
		/* Going for 'Page Harmony' as described here: http://retinart.net/graphic-design/secret-law-of-page-harmony/ */	
		.site-header, .site-nav, .site-footer, .article {
			margin-left: 10%;
			margin-right: 20%;
		}
		
	}

	@media screen and (min-width: 62.5em) {
		
		body {
			font-size: 137.5%;
		}
		
	}

	@media screen and (min-width: 75em) {
		
		body {
			font-size: 150%;
		}
		
	}