@font-face {
    font-family: 'organicpanda';
    src: url('../font/organicpanda-webfont.eot');
    src: url('../font/organicpanda-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/organicpanda-webfont.woff') format('woff'),
         url('../font/organicpanda-webfont.ttf') format('truetype'),
         url('../font/organicpanda-webfont.svg#organicpandaregular') format('svg');
    font-weight: normal;
    font-style: normal;
 }