/* Colours */

	$canvas: #ededed;
	$panda-backdrop: $canvas;
	$panda-body: #ffffff;
	$panda-left-ear: #800080;
	$panda-face: #ff9955;
	$panda-right-ear: #ffdd55;
	$panda-left-arm: #ccff00;
	$panda-right-arm: #a02c2c;
	$panda-left-foot: #8bcfdf;
	$panda-right-foot: #88aa00; 
	
/* Imports */

	@import "_type.scss";
	@import "_panda.scss";
	
/* Page styles */
	
	body {
		background: $canvas;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		font-size: 1em;
		line-height: 1.5;
		font-family: "BebasNeueRegular", Arial, sans-serif;
		text-align: center;
	}
		
	h1 {
		line-height: 0;
		font-weight: normal;
		letter-spacing: 0; 
		color: #e0e0e0;
	}
	
	@media only screen and (min-width: 200px) {	h1 { font-size: 2.5em; } }
	@media only screen and (min-width: 300px) {	h1 { font-size: 3.5em; } }
	@media only screen and (min-width: 400px) {	h1 { font-size: 4.5em; } }
	@media only screen and (min-width: 500px) {	h1 { font-size: 5.5em; } }
	@media only screen and (min-width: 600px) {	h1 { font-size: 6.5em; } }
	@media only screen and (min-width: 700px) {	h1 { font-size: 7.5em; } }

	img { max-width: 100%; } 
	
	#header, #page { 
		max-width: 600px; 
		margin: 0 auto;
	}

	