/* Config */
$grid-segments: 9;
$gutter: 5%;

$primary-color: #2a2a2a;
$secondary-color: #888888;
$background-color: #ededed;

/* Bring in external tools */
@import "compass/css3/transition";

/* Set up some base SASS functionality */
  @mixin constrain-content($left, $right) {
    h1, h2, h3, h3, h5, h6,
    p, ol, ul, blockquote, pre.code[class*="language-"] {
      margin-left: $left;
      margin-right: $right;
    }
  }

  * {
    transition:
      font-size 0.2s ease-in,
      padding 0.2s ease-in,
      margin 0.2s ease-in,
      background-color 0.2s ease-in,
      color 0.2s ease-in,
      transform 0.2s ease-in;
  }

  *, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

/*
  Small Screen

  The tactic here is:
  - Single column
  - Fluid width
  - Everything should be accessible to old IE
*/
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  body {
    background-color: $background-color;
    //font: normal 100%/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font: normal 100%/1.4 Georgia, 'Times New Roman', serif;
    color: $primary-color;
  }

  /* The font scale starts large and very quickly decreases */
  @media screen and (min-width: 250px) { body { font-size: 5vw; } }
  @media screen and (min-width: 350px) { body { font-size: 4vw; } }
  @media screen and (min-width: 400px) { body { font-size: 3.5vw; } }
  @media screen and (min-width: 500px) { body { font-size: 3.25vw; } }
  @media screen and (min-width: 750px) { body { font-size: 2.75vw; } }
  @media screen and (min-width: 1000px) { body { font-size: 2.5vw; } }
  @media screen and (min-width: 1250px) { body { font-size: 2vw; } }
  @media screen and (min-width: 1500px) { body { font-size: 1.75vw; } }
  @media screen and (min-width: 1750px) { body { font-size: 1.5vw; } }

  @include constrain-content($gutter, $gutter);

  @media screen and (min-width: 750px) {
    @include constrain-content($gutter * 3, $gutter * 3);
  }

  @media screen and (min-width: 1250px) {
    @include constrain-content($gutter * 4, $gutter * 4);
  }

  h1, h2, h3, h4, h5, h6 {}

  h1 {
    text-align: center;
  }

  p, ol, ul, blockquote {}

  p {
    text-align: justify;
    hyphens: auto;
  }

  .date, .copyright {
    text-align: center;
    color: $secondary-color;
  }

  .copyright {
    font-size: 0.8em;
  }

  .site-header {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 150%;
  }

  @media screen and (min-width: 500px) {
    .site-header {
      font-size: 80%;
      background-color: $primary-color;
      padding-bottom: 0;
    }
  }

  /* Simple header text (including some bits we need to position the logo) */
  .site-header a {
    display: inline-block;
    text-align: left;
    color: $primary-color;
  }

  @media screen and (min-width: 500px) {
    .site-header a {
      color: lighten($primary-color, 90);
      transform: rotate(360deg);
    }
  }

  /* Insert the logo in such a way that it scales with the size of the header text.
    This will not cause any harm to browsers that don't support ::before */
  .site-header a::before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 */
    background-image: inline-image("panda-optimised.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .site-header a, .site-nav a {
    font-family: 'BebasNeueRegular';
    font-size: 2em;
    letter-spacing: -0.02em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }

  /* Simple default nav style */
  .site-nav {
    background-color: $primary-color;
  }

  .site-nav a {
    display: block;
    text-align: center;
    color: lighten($primary-color, 90);
    background-color: $primary-color;
    padding: 0.5em 0;
  }
  .site-nav a:focus,
  .site-nav a:hover {
    background-color: lighten($primary-color, 10);
  }
  .site-nav a:active {
    background: red;
    background-color: lighten($primary-color, 20);
  }

  @media screen and (min-width: 500px) {
    //  Move the nav items inline
    //  Clearfix from HTML5BP: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
    .site-nav a {
      float: left;
      width: calc(100% / 3);
    }
    .site-nav a:last-child {
      float: right; // iOS has rounding issues
    }
    .site-nav:before, .site-nav:after {
      content: " ";
      display: table;
    }
    .site-nav:after {
      clear: both;
    }
  }