@import "compass/css3";

.gallery {
	width: 100%;
	@include box-shadow(#CACACA 0 0 0.7em);

	/* Courtesy of by Atle Mo (design), Lea Verou (code) http://lea.verou.me/css3patterns/#carbon-fibre */
	@include background(
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 0.4em 0.4em,
		radial-gradient(hsla(0, 100%, 100%, 0.1) 15%, transparent 20%) 0 0.05em,
		radial-gradient(hsla(0, 100%, 100%, 0.1) 15%, transparent 20%) 0.4em 0.45em
	);
	background-color: #282828;
	background-size: 0.8em 0.8em;
}


/* The slide layout requires a height and position */
.gallery.pandacarousel-slide-layout {
	height: 10em;
	position: relative;
	overflow: hidden;
}

/* The swipe plugin requires extra touch stuff */
.gallery.pandacarousel-swipe img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-ms-touch-action: none;
	touch-action: none;

	pointer-events: none;
}

.gallery img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.gallery.pandacarousel-slide-layout:not(.pandacarousel-swipe-swiping) img {
	transition: left 0.2s ease;
}

.gallery-buttons {
	margin-left: 10%;
	margin-right: 20%;
	margin-top: 1em;
}

.gallery-buttons .previous, .gallery-buttons .next,
.gallery-buttons .create, .gallery-buttons .destroy {
	width: 19%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.gallery-buttons .previous, .gallery-buttons .next,
.gallery-buttons .create, .gallery-buttons .destroy {
	margin-left: 2%;
}

.gallery-buttons .previous {
	margin-left: 9%;
}